.logo {
    width: 30px;
    height: 30px;
}

input.form-control {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}

.hero-image {
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0.3, 0.2), rgba(0, 0, 0, 0.2));
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

ul.navbar-nav.list-3 {
    margin: auto;
}

li.nav-item.dropdown {
    padding-right: 50px;
}

.navbar-nav li:hover>.dropdown-menu {
    display: block;
}

a {
    text-decoration: none !important;
}

.home-banner {
    background-color: #323234;
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

banner-item.text-center {
    background-color: #323234;
}

.icons {
    color: #c43b68;
    font-size: 30px;
    padding: 20px 0px;
    font-family: 'simple-line-icons';
    font-style: normal;
    font-weight: normal;
}

.title,
.subtitle {
    color: white;
}

.product-header ,
.product-design.mb-2 {
margin: auto ;
}
